.card-collection {
    border: 1px solid #e0e0e0;
    margin-top: 2.3rem;
    height: 8rem;
    width: 80rem;
    display: flex;
    align-items: center;
}

.scroll-btn {
    cursor: pointer;
}

.scroll-container {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
}

.add-card-btn {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: rgb(102, 163, 255);
    font-weight: bold;
    font-size: large;
    height: 2.1rem;
    width: 2.1rem;
    padding: .3rem;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}