body {
    background-color: red;
}
.card-collection {
    height: 28rem;
    width: 28rem;
    border-radius: 1%;
    border: 1px solid rgb(126, 118, 118);
    background-color: rgb(238, 238, 238);
    overflow-y: auto;
    position: relative;
}

.scroll-container {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.scroll-btn {
    border: none;
    cursor: pointer;
    display: none;
}

.scroll-arrow-left {
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent; 
    border-right:17px solid rgb(63, 63, 63); 
}

.scroll-arrow-right {
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent; 
    border-left:17px solid rgb(63, 63, 63); 
}

.scroll-arrow-bottom {
    border-left: 17px solid transparent;
    border-right: 17px solid transparent; 
    border-top: 17px solid rgb(63, 63, 63); 
}

.extend-btn {
    border: none;
    position: relative;
    cursor: pointer;
    right: 50%;
    top: 40%;
}

.add-card-btn {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: rgb(102, 163, 255);
    font-weight: bold;
    font-size: large;
    height: 2.1rem;
    width: 2.1rem;
    padding: .3rem;
    left: 50%;
    bottom: 3%;
}

@media only screen and (min-width: 760px) {
    body {
        background-color: blue;
    }
    .card-collection {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        margin-top: 2.3rem;
        height: 8rem;
        width: 70rem;
        display: flex;
        align-items: center;
        position: relative;
    }    
    .scroll-container {
        flex-grow: 1;
        padding: 0 3.5rem;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        align-items: center;
        position: relative;
    }
    .scroll-btn {
        cursor: pointer;
        display: flex;
        background-color: #ffffff;
        height: 2.5rem;
    }
    .add-card-btn {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        background-color: rgb(102, 163, 255);
        font-weight: bold;
        font-size: large;
        height: 2.1rem;
        width: 2.1rem;
        padding: .3rem;
        left: 95%;
        bottom: 30%;
    }
}

@media only screen and (min-width: 1250px) {
    body {
        background-color: royalblue;
    }
    .card-collection {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        margin-top: 2.3rem;
        height: 8rem;
        width: 80rem;
        display: flex;
        align-items: center;
        position: relative;
    }    
    .scroll-container {
        flex-grow: 1;
        padding: 0 3.5rem;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        align-items: center;
        position: relative;
    }
    .add-card-btn {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        background-color: rgb(102, 163, 255);
        font-weight: bold;
        font-size: large;
        height: 2.1rem;
        width: 2.1rem;
        padding: .3rem;
        left: 95%;
        bottom: 30%;
    }
}


@media only screen and (max-width: 450px) {
    body {
        background-color: green;
    }
    .card-collection {
        position: relative;
        height: 28rem;
        width: 95%;
        border-radius: 1%;
        padding: .15rem;
        border: 1px solid rgb(126, 118, 118);
        background-color: rgb(238, 238, 238);
        overflow-y: auto;
        box-shadow: 1.75px 1.5px 1.5px rgb(57, 54, 54);
    }
    .add-card-btn {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        background-color: rgb(102, 163, 255);
        font-weight: bold;
        font-size: large;
        height: 2.1rem;
        width: 2.1rem;
        padding: .3rem;
        left: 50%;
        bottom: 3%;
    }
}